In [5]:
import re
import csv
import itertools

In [6]:
with open('./sample_data/pubmed-canabissat-set.txt', encoding="utf8") as f:
    my_text = f.read()

In [7]:
#my_text

In [8]:
len(my_text)

2304340

In [9]:
my_text = re.sub(r'\n\s{6}', ' ', my_text)

In [10]:
print(my_text[:2000])

PMID- 31084880
OWN - NLM
STAT- MEDLINE
DCOM- 20190606
LR  - 20200930
IS  - 1873-2259 (Electronic)
IS  - 0168-9452 (Linking)
VI  - 284
DP  - 2019 Jul
TI  - Terpenes in Cannabis sativa - From plant genome to humans.
PG  - 67-72
LID - S0168-9452(19)30119-0 [pii]
LID - 10.1016/j.plantsci.2019.03.022 [doi]
AB  - Cannabis sativa (cannabis) produces a resin that is valued for its psychoactive and  medicinal properties. Despite being the foundation of a multi-billion dollar global  industry, scientific knowledge and research on cannabis is lagging behind compared  to other high-value crops. This is largely due to legal restrictions that have  prevented many researchers from studying cannabis, its products, and their effects  in humans. Cannabis resin contains hundreds of different terpene and cannabinoid  metabolites. Many of these metabolites have not been conclusively identified. Our  understanding of the genomic and biosynthetic systems of these metabolites in  cannabis, and the factors that affect their variability, is rudimentary. As a  consequence, there is concern about lack of consistency with regard to the terpene  and cannabinoid composition of different cannabis 'strains'. Likewise, claims of  some of the medicinal properties attributed to cannabis metabolites would benefit  from thorough scientific validation.
CI  - Copyright © 2019 The Authors. Published by Elsevier B.V. All rights reserved.
FAU - Booth, Judith K
AU  - Booth JK
AD  - Michael Smith Laboratories, University of British Columbia, 2185 East Mall,  Vancouver, B.C., V6T 1Z4, Canada.
FAU - Bohlmann, Jörg
AU  - Bohlmann J
AD  - Michael Smith Laboratories, University of British Columbia, 2185 East Mall,  Vancouver, B.C., V6T 1Z4, Canada. Electronic address: bohlmann@msl.ubc.ca.
LA  - eng
PT  - Journal Article
PT  - Review
DEP - 20190404
PL  - Ireland
TA  - Plant Sci
JT  - Plant science : an international journal of experimental plant biology
JID - 9882015
RN  - 0 (Cannabinoids)
RN  - 0 (Terpenes)
SB  - I

In [11]:
zipcodes = re.findall(r'AD.+, (.+[a-z-A-Z]).  ?Electronic|AD.+, (.+[a-z-A-Z]).  [^\s<>"]+@[^\s<>"]+|AD.+, (.+[a-z-A-Z]). [^\s<>"]+@[^\s<>"]+|AD.+,  ?(.+[a-z-A-Z]).?|', my_text)

flat_list = itertools.chain(*zipcodes)
flat_list=list(flat_list)
flat_list

resultantList = [] 
for element in flat_list:
    if element not in resultantList:
        resultantList.append(element)

resultantList[:20]

['',
 'Canada',
 'France',
 'Germany',
 'UK',
 'Spain',
 'Leuven Belgium',
 'Norway',
 'Italy',
 'USA',
 'Paris',
 'Belgium',
 'Espana',
 "Evelina London Children's Hospital",
 'The Netherlands',
 'Finland',
 'Israel',
 'Poland',
 'Switzerland',
 'Genova']

In [12]:
len(resultantList)

231

In [14]:
unique_zipcodes = list(set(resultantList))
unique_zipcodes.sort()
unique_zipcodes[:10]

['',
 ' Argentina',
 ' Australi',
 ' Australia',
 ' CO',
 ' Canada',
 ' Ireland',
 ' Italy',
 ' Luxembourg',
 ' Norway']

In [15]:
len(unique_zipcodes)

231

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('./sample_data/countries.csv', engine='python', skipfooter=3)
data.head(5)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [18]:
data_name = data[data.name.isin(resultantList)]
data_name.head(10)

   country   latitude   longitude                    name
10      AR -38.416097  -63.616672               Argentina
12      AT  47.516231   14.550072                 Austria
13      AU -25.274398  133.775136               Australia
16      BA  43.915886   17.679076  Bosnia and Herzegovina
19      BE  50.503887    4.469936                 Belgium
28      BR -14.235004  -51.925280                  Brazil
35      CA  56.130366 -106.346771                  Canada
40      CH  46.818188    8.227512             Switzerland
43      CL -35.675147  -71.542969                   Chile
45      CN  35.861660  104.195397                   China

In [19]:
len(data_name)

58